@import "variables";
@import "mixins";

.excel__header {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: $header-height;
    padding: 8px 30px 0;
    display: flex;
    justify-content: space-between;

 & .input {
     margin: 0;
     padding: 2px 7px;
     min-width: 1px;
     color: #000;
     border: 1px solid transparent;
     border-radius: 2px;
     height: 20px;
     font-size: 16px;
     line-height: 22px;
     box-shadow: 0px 0px 2px rgb(114, 114, 114);
     outline: none;
     
     &:hover{
        border: 1px solid $border-color;
    }

     &:focus {
         border: 1px solid #243e61;
     }
 }

 .button{
     @include button(rgb(199, 12, 12));
 }
}